<h1>LOGIN FAILED</h1>

<button onclick='back()'>Back</button>

<script>

    function back() {
        console.log('redirecting back to \"/\"')
        redirect('/')
    }

    function redirect(page) {
        location.href = page;
    } 

</script>
