<h1>Signup error!</h1>

<button onclick='back()'> Back </button>

<script>

    function back() {
        console.log('Back to root...');
        redirect('/')
    }
    
    function redirect(page) {
        location.href = page
    } 

</script>
